<!DOCTYPE html>
<html>
  <head>
    <title>Dopamine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/a3886d8778.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.signupPhoto = "<%= image_url('logos/iglogo.png') %>"
    </script>
    <script type="text/javascript">
      window.splashPhoto = "<%= image_url('logos/igsplashphone.png') %>"
    </script>
    <script type="text/javascript">
      window.appStore = "<%= image_url('logos/appstorebadge.png') %>"
    </script>
    <script type="text/javascript">
      window.googlePlay = "<%= image_url('logos/googleplaybadge.png') %>"
    </script>
    <script type="text/javascript">
      window.splashSlide1 = "<%= image_url('feed/igsamplefeed.png') %>"
    </script>
    <script type="text/javascript">
      window.profilePic = "<%= image_url('placeholder/igprofilepic.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

